.navbar {
  background: aquamarine;
  height: 30px;
  margin-top: 20px;
}
.navbar li {
  list-style-type: none;
  display: inline;
}
.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}

.images img {
  width: 250px;
  height: 400px;
}

section {
  display: flex;
}
